In [68]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

In [69]:
DIR_PATH = '/Users/carlosperezricardo/Documents/data/'
commercial_activity = pd.read_csv(DIR_PATH+'commercial_activity_df.csv', encoding='utf-8')
commercial_activity.drop(columns=['Unnamed: 0'], inplace=True)

products = pd.read_csv(DIR_PATH+'products_df.csv', encoding='utf-8')
products.drop(columns=['Unnamed: 0'], inplace=True)

sociodemographic = pd.read_csv(DIR_PATH+'sociodemographic_df.csv', encoding='utf-8')
sociodemographic.drop(columns=['Unnamed: 0'], inplace=True)

In [70]:
df_whole = pd.merge( commercial_activity, products, on = ['pk_cid','pk_partition'] )
df_whole = pd.merge( df_whole, sociodemographic, on=['pk_cid','pk_partition'] )

In [71]:
df_whole.shape

(5962924, 27)

In [72]:
df_whole.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5962924 entries, 0 to 5962923
Columns: 27 entries, pk_cid to salary
dtypes: float64(5), int64(15), object(7)
memory usage: 1.2+ GB

In [73]:
# We reduce memory
# Codificar variables logicas (1/0 = bool)
from sys import getsizeof

boolean_cols = ["short_term_deposit", "loans", "mortgage", "funds", "securities","long_term_deposit", "em_account_pp", "credit_card", "payroll_account", "emc_account", "debit_card", "em_account_p", "em_acount", "payroll", "pension_plan"] 
# payroll y pension_plan tienen nulos en el dataset completo

print('El dataframe products ocupa {} MB antes de codificar columnas boolean'.format(getsizeof(df_whole)/1048576))

for x in boolean_cols:
    df_whole[x] = df_whole[x].astype(bool)

print('El dataframe products_df ocupa {} MB después de codificar columnas boolean'.format(getsizeof(df_whole)/1048576))

El dataframe products ocupa 3468.526909828186 MB antes de codificar columnas boolean
El dataframe products_df ocupa 2871.4247255325317 MB después de codificar columnas boolean

In [74]:
df_whole.head(3).T

                                    0                   1                   2
pk_cid                        1375586             1050611             1050612
pk_partition               2018-01-28          2018-01-28          2018-01-28
entry_date                 2018-01-12          2015-08-10          2015-08-10
entry_channel                     KHL                 KHE                 KHE
active_customer                     1                   0                   0
segment             02 - PARTICULARES  03 - UNIVERSITARIO  03 - UNIVERSITARIO
short_term_deposit              False               False               False
loans                           False               False               False
mortgage                        False               False               False
funds                           False               False               False
securities                      False               False               False
long_term_deposit               False               False               False
em_account_pp                   False               False               False
credit_card                     False               False               False
payroll                         False               False               False
pension_plan                    False               False               False
payroll_account                 False               False               False
emc_account                     False               False               False
debit_card                      False               False               False
em_account_p                    False               False               False
em_acount                        True                True                True
country_id                         ES                  ES                  ES
region_code                        29                  13                  13
gender                              H                   V                   V
age                                35                  23                  23
deceased                            N                   N                   N
salary                        87218.1             35548.7              122179

In [75]:
df_whole.columns.to_list()

['pk_cid',
 'pk_partition',
 'entry_date',
 'entry_channel',
 'active_customer',
 'segment',
 'short_term_deposit',
 'loans',
 'mortgage',
 'funds',
 'securities',
 'long_term_deposit',
 'em_account_pp',
 'credit_card',
 'payroll',
 'pension_plan',
 'payroll_account',
 'emc_account',
 'debit_card',
 'em_account_p',
 'em_acount',
 'country_id',
 'region_code',
 'gender',
 'age',
 'deceased',
 'salary']

In [76]:
df = pd.DataFrame()

# Salary (1)

In [77]:
salary_check = df_whole.groupby('pk_cid')['salary'].agg(['min','max'])
salary_check = salary_check.dropna(how='any')
salary_check[ salary_check['min'] != salary_check['max'] ]

# There is no change in salary

Empty DataFrame
Columns: [min, max]
Index: []

In [78]:
salary_check['max'] = salary_check['max'].astype('int')
salary_check['min'] = salary_check['min'].astype('int')
salary_check.head()

           min     max
pk_cid
17457   102405  102405
17590   407281  407281
17799    84511   84511
17980   282461  282461
18704    75187   75187

In [79]:
salary_check['max'].median()

89018.0

In [80]:
df['salary'] = df_whole.groupby('pk_cid')['salary'].max()

# Muertos (1)

In [81]:
df_whole.groupby('pk_cid')['deceased'].max().value_counts()

N    456244
S       129
Name: deceased, dtype: int64

In [82]:
df_whole['deceased'] = df_whole['deceased'].replace({'N':0,'S':1})

In [83]:
df['deceased'] = df_whole.groupby('pk_cid')['deceased'].max()

# Cliente activo (1)

In [84]:
df['active_customer'] = df_whole.groupby('pk_cid')['active_customer'].last()

# Edad (1)

Nos quedamos con la ultima o con la edad más grande.

In [85]:
df_whole.groupby('pk_cid')['age'].max()

pk_cid
15891      59
16063      62
16203      70
16502      58
17457      54
           ..
1553685    52
1553686    30
1553687    21
1553688    43
1553689    40
Name: age, Length: 456373, dtype: int64

In [86]:
df['age'] = df_whole.groupby('pk_cid')['age'].max()

# Genero 

No la utilizamos.

# Region code (2)

Pasamos a Provincia. Podemos meter población en esa provincia. O de tu población de productos.
Frequency encoding.

Total % de tu cartera que son de Madrid 
Total % que de Madrid tiene productos sobre el total. Que tanto % de clientes de Madrid compran.

In [87]:
top_regions = df_whole.groupby('pk_cid')['region_code'].last().to_frame().value_counts().head(5)
list_top_regions = top_regions.reset_index()['region_code'].to_list()
top_regions
list_top_regions

[28.0, 8.0, 46.0, 30.0, 41.0]

In [88]:
df_whole['region_code'] = np.where( df_whole['region_code'].isin( list_top_regions ), True, False )

In [89]:
df_whole.groupby('pk_cid')['region_code'].last().value_counts()

False    241199
True     215174
Name: region_code, dtype: int64

In [90]:
df['region_code'] = df_whole.groupby('pk_cid')['region_code'].last()

# country_id (1)

Agrupar por Continente y hacer lo mismo. Pasar a no_spain.

In [91]:
df_whole['country_id'] = np.where( df_whole['country_id'] == 'ES', True, False )

In [92]:
df_whole.groupby('pk_cid')['country_id'].last().value_counts()

True     456209
False       164
Name: country_id, dtype: int64

In [93]:
df['country_id'] = df_whole.groupby('pk_cid')['country_id'].last()

# payroll (1)

In [94]:
df_whole['payroll'] = np.where( df_whole['country_id'] == 'ES', True, False )

In [95]:
df_whole.groupby('pk_cid')['payroll'].last().value_counts()

False    456373
Name: payroll, dtype: int64

In [96]:
df['payroll'] = df_whole.groupby('pk_cid')['payroll'].last()

# Por producto NO LO METO!

- cantidad de altas (17)
- cantidad de bajas sin cobro / altas que no han sido cobradas (17)
- cantidad de bajas con cobro (17)

# Por tipo de producto

- Cantidad de altas (3)
- Cantidad de bajas (3)

# Customer Lifetime Value

- Gastos totales de cada cliente (1)
- Gastos totales en cada tipo de producto (3)
- Numero de productos contratados en su historia (1)

In [97]:
customers = df.index
len(customers)

456373

In [98]:
partitions = ['2018-01-28','2018-02-28','2018-03-28','2018-04-28','2018-05-28','2018-06-28', \
    '2018-07-28','2018-08-28','2018-09-28','2018-10-28','2018-11-28','2018-12-28','2019-01-28', \
        '2019-02-28','2019-03-28','2019-04-28','2019-05-28']

list_products = ['short_term_deposit','loans','mortgage','funds','securities',
    'long_term_deposit','em_account_pp','credit_card','pension_plan',
    'payroll_account','emc_account','debit_card','em_account_p','em_acount']

products_dict = {"short_term_deposit":"ahorro e inversión", "loans":"financiación", "mortgage":"financiación", 
    "funds":"ahorro e inversión", "securities":"ahorro e inversión", "long_term_deposit":"ahorro e inversión", 
    "em_account_pp":"cuenta", "credit_card":"financiación", "payroll_account":"cuenta", "pension_plan":"ahorro e inversión", 
    "emc_account":"cuenta", "debit_card":"financiación", "em_account_p":"cuenta", "em_acount":"cuenta"}

cost_product = {'cuenta':10, 'ahorro e inversión':40, 'financiación':60}

In [99]:
def determinar_altas(data):
    data = pd.DataFrame(data)
    data.columns=['product']
    data['prev'] = data['product'].shift(1)
    data['diff'] = data['product'] - data['prev']

    return len(data[data['diff'] == 1])

In [100]:
test_data = pd.DataFrame( [0,0,1,1,1,0,0,0,1,1,1,1,0,0,0,1] )
determinar_altas(test_data)
# expected result: 3

3

In [101]:
def determinar_bajas(data):
    data = pd.DataFrame(data)
    data.columns=['product']
    data['prev'] = data['product'].shift(1)
    data['diff'] = data['product'] - data['prev']

    return len(data[data['diff'] == -1])

In [102]:
test_data = pd.DataFrame( [0,0,1,1,1,0,0,0,1,1,1,1,0,0,0,1,0] )
determinar_bajas(test_data)
# expected result: 2

3

In [103]:
def determinar_altas_all(data):
    data.columns=['pk_partition','pk_cid','product']
    data['prev'] = data.groupby('pk_cid')['product'].shift(1)
    data['diff'] = data['product'] - data['prev']

    # Solo queremos 1 
    data['diff'] = np.where( (data['product']==1) & (data['diff'].isna()) & (data['pk_partition']!='2018-01-28'), 1, data['diff'] )
    data['diff'].fillna(0,inplace=True)
    data['diff'] = np.where( data['diff'] == -1, 0, data['diff'] )

    return data.groupby('pk_cid')['diff'].sum()

In [104]:
def determinar_bajas_all(data):
    data.columns=['pk_cid','product']
    data['prev'] = data.groupby('pk_cid')['product'].shift(1)
    data['diff'] = data['product'] - data['prev']

    # Solo queremos -1 
    data['diff'].fillna(0,inplace=True)
    data['diff'] = np.where( data['diff'] == 1, 0, data['diff'] )
    data['diff'] = np.where( data['diff'] == -1, 1, data['diff'] )

    return data.groupby('pk_cid')['diff'].sum()

In [105]:
def determinar_altas_cobradas_all(data):
    data.columns=['pk_partition','pk_cid','product']

    data['prev_month1'] = data.groupby('pk_cid')['product'].shift(1)
    data['prev_month2'] = data.groupby('pk_cid')['product'].shift(2)
    data['prev_month3'] = data.groupby('pk_cid')['product'].shift(3)

    data.fillna(-2, inplace=True)

    # nuevas contrataciones (ya cobrados - llevan 3 meses y no se han dado de baja)
    #cond3 = (data['product']==1) & (data['prev_month1']==1) & (data['prev_month2']==1) &\
    #    ((data['prev_month3']==0) | ((data['prev_month3'] == -2) & (data['pk_partition']!='2018-03-28')))

    cond31 = (data['product']==1) & (data['prev_month1']==1) & (data['prev_month2']==1) & (data['prev_month3']==0)
    cond32 = (data['product']==1) & (data['prev_month1']==1) & (data['prev_month2']==1) & (data['prev_month3']==-2) & (data['pk_partition']!='2018-03-28')
    cond33 = (data['product']==1) & (data['prev_month1']==1) & (data['prev_month2']==1) & (data['prev_month3']==1) & (data['pk_partition']=='2018-03-28')
    
    cond3 = cond31 | cond32 | cond33

    data['comprado'] = cond3

    return data.groupby('pk_cid')['comprado'].sum()

In [106]:
df_whole = df_whole.sort_values(['pk_partition','pk_cid'], ascending=True)

In [107]:
for prod in list_products:
    df[prod+'_altas'] = determinar_altas_all( df_whole[['pk_partition','pk_cid',prod]] )
    df[prod+'_bajas'] = determinar_bajas_all( df_whole[['pk_cid',prod]] )
    df[prod+'_cobros'] = determinar_altas_cobradas_all( df_whole[['pk_partition','pk_cid',prod]] )
    print(prod)

short_term_deposit
loans
mortgage
funds
securities
long_term_deposit
em_account_pp
credit_card
pension_plan
payroll_account
emc_account
debit_card
em_account_p
em_acount

In [108]:
df.head(3).T

pk_cid                     15891  16063  16203
salary                       NaN    NaN    NaN
deceased                       0      0      0
active_customer                0      0      1
age                           59     62     70
region_code                 True   True   True
country_id                  True   True   True
payroll                    False  False  False
short_term_deposit_altas       0      0      0
short_term_deposit_bajas       0      0      0
short_term_deposit_cobros      0      0      0
loans_altas                    0      0      0
loans_bajas                    0      0      0
loans_cobros                   0      0      0
mortgage_altas                 0      0      0
mortgage_bajas                 0      0      0
mortgage_cobros                0      0      0
funds_altas                    0      0      0
funds_bajas                    0      0      0
funds_cobros                   0      0      0
securities_altas               0      0      0
securities_bajas               0      0      0
securities_cobros              0      0      0
long_term_deposit_altas        0      0      0
long_term_deposit_bajas        0      0      0
long_term_deposit_cobros       0      0      0
em_account_pp_altas            0      0      0
em_account_pp_bajas            0      0      0
em_account_pp_cobros           0      0      0
credit_card_altas              0      0      0
credit_card_bajas              0      0      0
credit_card_cobros             0      0      0
pension_plan_altas             0      0      0
pension_plan_bajas             0      0      0
pension_plan_cobros            0      0      0
payroll_account_altas          0      0      0
payroll_account_bajas          0      0      0
payroll_account_cobros         0      0      0
emc_account_altas              0      0      0
emc_account_bajas              0      0      0
emc_account_cobros             0      0      0
debit_card_altas               0      0      0
debit_card_bajas               0      0      0
debit_card_cobros              0      0      0
em_account_p_altas             0      0      0
em_account_p_bajas             0      0      0
em_account_p_cobros            0      0      0
em_acount_altas                1      0      1
em_acount_bajas                1      0      0
em_acount_cobros               0      0      1

In [109]:
for key, value in products_dict.items():
    if value in df.columns:
        df[value+'_altas'] += df[key+'_altas'] 
        df[value+'_bajas'] += df[key+'_bajas'] 
        df[value+'_cobros'] += df[key+'_cobros'] 

    else:
        df[value+'_altas'] = df[key+'_altas']
        df[value+'_bajas'] = df[key+'_bajas'] 
        df[value+'_cobros'] = df[key+'_cobros'] 

    df.drop(key+'_altas', axis=1, inplace=True)
    df.drop(key+'_bajas', axis=1, inplace=True)
    df.drop(key+'_cobros', axis=1, inplace=True)

In [110]:
df

,salary,deceased,active_customer,age,region_code,country_id,payroll,ahorro e inversión_altas,ahorro e inversión_bajas,ahorro e inversión_cobros,financiación_altas,financiación_bajas,financiación_cobros,cuenta_altas,cuenta_bajas,cuenta_cobros
pk_cid,,,,,,,,,,,,,,,,
15891,NaN,0,0.0,59,True,True,False,0,0,0,0,0,0,1,1,0
16063,NaN,0,0.0,62,True,True,False,0,0,0,0,0,0,0,0,0
16203,NaN,0,1.0,70,True,True,False,0,0,0,0,0,0,1,0,1
16502,NaN,0,1.0,58,True,True,False,0,0,0,0,0,0,1,0,1
17457,102405.75,0,1.0,54,True,True,False,0,0,0,5,4,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1553685,NaN,0,0.0,52,False,True,False,0,0,0,0,0,0,0,0,0
1553686,NaN,0,0.0,30,True,True,False,0,0,0,0,0,0,0,0,0
1553687,NaN,0,0.0,21,True,True,False,0,0,0,0,0,0,0,0,0
1553688,NaN,0,0.0,43,False,True,False,0,0,0,0,0,0,0,0,0
1553689,NaN,0,0.0,40,False,True,False,0,0,0,0,0,0,0,0,0

# Customer Lifetime Value

In [111]:
for key, value in cost_product.items():
    if 'gastado' not in df.columns:
        df['gastado'] = df[key+'_cobros']*value
    else:
        df['gastado'] += df[key+'_cobros']*value

In [112]:
df.head(3).T

pk_cid                     15891  16063  16203
salary                       NaN    NaN    NaN
deceased                       0      0      0
active_customer                0      0      1
age                           59     62     70
region_code                 True   True   True
country_id                  True   True   True
payroll                    False  False  False
ahorro e inversión_altas       0      0      0
ahorro e inversión_bajas       0      0      0
ahorro e inversión_cobros      0      0      0
financiación_altas             0      0      0
financiación_bajas             0      0      0
financiación_cobros            0      0      0
cuenta_altas                   1      0      1
cuenta_bajas                   1      0      0
cuenta_cobros                  0      0      1
gastado                        0      0     10

In [113]:
len(df.columns)

17

In [114]:
products_dict = {"short_term_deposit":"ahorro e inversión", "loans":"financiación", "mortgage":"financiación", 
    "funds":"ahorro e inversión", "securities":"ahorro e inversión", "long_term_deposit":"ahorro e inversión", 
    "em_account_pp":"cuenta", "credit_card":"financiación", "payroll_account":"cuenta", "pension_plan":"ahorro e inversión", 
    "emc_account":"cuenta", "debit_card":"financiación", "em_account_p":"cuenta", "em_acount":"cuenta"}

ahorros = ["pk_partition","short_term_deposit","funds","securities","long_term_deposit","pension_plan"]
cuentas = ["pk_partition","em_acount","em_account_pp","emc_account","em_account_p","em_account_pp","payroll_account"]
financiacion = ["pk_partition","short_term_deposit","funds","securities","long_term_deposit","pension_plan"]

In [115]:
df_whole[ df_whole['pk_cid'] == 16203 ][cuentas]
# cuentas: altas = 1, cobradas = 1, bajas = 0

,pk_partition,em_acount,em_account_pp,emc_account,em_account_p,em_account_pp,payroll_account
3628238,2018-12-28,False,False,False,False,False,False
4028170,2019-01-28,True,False,False,False,False,False
4480636,2019-02-28,True,False,False,False,False,False
4876039,2019-03-28,True,False,False,False,False,False
5134321,2019-04-28,True,False,False,False,False,False
5523396,2019-05-28,True,False,False,False,False,False

In [116]:
df_whole[ df_whole['pk_cid'] == 15891 ][cuentas]
# cuentas: altas = 1, cobradas = 0, bajas = 1

,pk_partition,em_acount,em_account_pp,emc_account,em_account_p,em_account_pp,payroll_account
1479563,2018-07-28,True,False,False,False,False,False
2168122,2018-08-28,False,False,False,False,False,False

In [117]:
stop

NameError: name 'stop' is not defined

2

In [ ]:
def determinar_altas_cobradas(data):
    data = pd.DataFrame(data)
    data.reset_index(inplace=True)

    data.columns=['pk_partition','product']
    
    data['prev_month1'] = data['product'].shift(1)
    data['prev_month2'] = data['product'].shift(2)
    data['prev_month3'] = data['product'].shift(3)

    data.fillna(-2, inplace=True)

    # nuevas contrataciones (ya cobrados - llevan 3 meses y no se han dado de baja)
    #cond3 = (data['product']==1) & (data['prev_month1']==1) & (data['prev_month2']==1) &\
    #    ((data['prev_month3']==0) | ((data['prev_month3'] == -2) & (data['pk_partition']!='2018-03-28')))
    
    cond1 = (data['product']==1) & (data['prev_month1']==1) & (data['prev_month2']==1) & (data['prev_month3']==0)
    cond2 = (data['product']==1) & (data['prev_month1']==1) & (data['prev_month2']==1) & (data['prev_month3']==-2) & (data['pk_partition']!='2018-03-28')

    cond3 = cond1 | cond2
    print(data)
    contrataciones_cobradas = data[ cond3 ] 

    return len(contrataciones_cobradas)

In [ ]:
def determinar_altas_cobradas_all(data):
    data = pd.DataFrame(data)
    data.reset_index(inplace=True)

    data.columns=['pk_partition','product']
    
    data['prev_month1'] = data['product'].groupby('pk_cid').shift(1)
    data['prev_month2'] = data['product'].groupby('pk_cid').shift(2)
    data['prev_month3'] = data['product'].groupby('pk_cid').shift(3)

    data.fillna(-2, inplace=True)

    # nuevas contrataciones (ya cobrados - llevan 3 meses y no se han dado de baja)
    #cond3 = (data['product']==1) & (data['prev_month1']==1) & (data['prev_month2']==1) &\
    #    ((data['prev_month3']==0) | ((data['prev_month3'] == -2) & (data['pk_partition']!='2018-03-28')))
    
    cond1 = (data['product']==1) & (data['prev_month1']==1) & (data['prev_month2']==1) & (data['prev_month3']==0)
    cond2 = (data['product']==1) & (data['prev_month1']==1) & (data['prev_month2']==1) & (data['prev_month3']==-2) & (data['pk_partition']!='2018-03-28')

    cond3 = cond1 | cond2

    data['comprado'] = cond3
    print(data)
    contrataciones_cobradas = data[ cond3 ] 

    #return len(contrataciones_cobradas)

In [ ]:
test_data = pd.DataFrame( [0,0,1,1,1,1,0,0,1,1,0,0,0,0,0,1,1], index=partitions )
test_data.reset_index(inplace=True)
test_data.columns = ['pk_partition','product']
test_data['pk_partition'] = pd.to_datetime( test_data['pk_partition'] )
test_data.set_index('pk_partition',inplace=True)

determinar_altas_cobradas(test_data)
# expected result: 1

   pk_partition  product  prev_month1  prev_month2  prev_month3
0    2018-01-28        0         -2.0         -2.0         -2.0
1    2018-02-28        0          0.0         -2.0         -2.0
2    2018-03-28        1          0.0          0.0         -2.0
3    2018-04-28        1          1.0          0.0          0.0
4    2018-05-28        1          1.0          1.0          0.0
5    2018-06-28        1          1.0          1.0          1.0
6    2018-07-28        0          1.0          1.0          1.0
7    2018-08-28        0          0.0          1.0          1.0
8    2018-09-28        1          0.0          0.0          1.0
9    2018-10-28        1          1.0          0.0          0.0
10   2018-11-28        0          1.0          1.0          0.0
11   2018-12-28        0          0.0          1.0          1.0
12   2019-01-28        0          0.0          0.0          1.0
13   2019-02-28        0          0.0          0.0          0.0
14   2019-03-28        0          0.0          0.0          0.0
15   2019-04-28        1          0.0          0.0          0.0
16   2019-05-28        1          1.0          0.0          0.0

1

In [ ]:
test_data = pd.DataFrame( [1,1,1,1,0,1,0,0,1,1,1,1,0,0,1,1,1], index=partitions )
test_data.reset_index(inplace=True)
test_data.columns = ['pk_partition','product']
test_data['pk_partition'] = pd.to_datetime( test_data['pk_partition'] )
test_data.set_index('pk_partition',inplace=True)

determinar_altas_cobradas(test_data)
# expected result: 2

   pk_partition  product  prev_month1  prev_month2  prev_month3
0    2018-01-28        1         -2.0         -2.0         -2.0
1    2018-02-28        1          1.0         -2.0         -2.0
2    2018-03-28        1          1.0          1.0         -2.0
3    2018-04-28        1          1.0          1.0          1.0
4    2018-05-28        0          1.0          1.0          1.0
5    2018-06-28        1          0.0          1.0          1.0
6    2018-07-28        0          1.0          0.0          1.0
7    2018-08-28        0          0.0          1.0          0.0
8    2018-09-28        1          0.0          0.0          1.0
9    2018-10-28        1          1.0          0.0          0.0
10   2018-11-28        1          1.0          1.0          0.0
11   2018-12-28        1          1.0          1.0          1.0
12   2019-01-28        0          1.0          1.0          1.0
13   2019-02-28        0          0.0          1.0          1.0
14   2019-03-28        1          0.0          0.0          1.0
15   2019-04-28        1          1.0          0.0          0.0
16   2019-05-28        1          1.0          1.0          0.0

2

In [ ]:
test_data = pd.DataFrame( [1,1,1,1,0,1,0,0,1,1,1,1,0], index=partitions[4:] )
test_data.reset_index(inplace=True)
test_data.columns = ['pk_partition','product']
test_data['pk_partition'] = pd.to_datetime( test_data['pk_partition'] )
test_data.set_index('pk_partition',inplace=True)

determinar_altas_cobradas(test_data)
# expected result: 2

   pk_partition  product  prev_month1  prev_month2  prev_month3
0    2018-05-28        1         -2.0         -2.0         -2.0
1    2018-06-28        1          1.0         -2.0         -2.0
2    2018-07-28        1          1.0          1.0         -2.0
3    2018-08-28        1          1.0          1.0          1.0
4    2018-09-28        0          1.0          1.0          1.0
5    2018-10-28        1          0.0          1.0          1.0
6    2018-11-28        0          1.0          0.0          1.0
7    2018-12-28        0          0.0          1.0          0.0
8    2019-01-28        1          0.0          0.0          1.0
9    2019-02-28        1          1.0          0.0          0.0
10   2019-03-28        1          1.0          1.0          0.0
11   2019-04-28        1          1.0          1.0          1.0
12   2019-05-28        0          1.0          1.0          1.0

2

In [ ]:
def determinar_permanencia(data):
    data = pd.DataFrame(data)
    data.reset_index(inplace=True)

    data.columns=['pk_partition','product']

    data['diff'] = data['product'].diff()

    data['prev'] = np.where( (data['diff'].isna()) & (data['product'] == 1), 1, 0 )
    data = data[ data['diff'] != 0 ]

    data['date_diff'] = round(data['pk_partition'].diff()/np.timedelta64(1, 'M'))

    return data[data['diff'] == -1]

In [ ]:
test_data = pd.DataFrame( [0,0,1,1,1,0,0,0,1,1,1,1,0,0,0,1,1], index=partitions )
test_data.reset_index(inplace=True)
test_data.columns = ['pk_partition','product']
test_data['pk_partition'] = pd.to_datetime( test_data['pk_partition'] )
test_data.set_index('pk_partition',inplace=True)

determinar_permanencia(test_data)
# expected result: 3, 4

   pk_partition  product  diff  prev  date_diff
5    2018-06-28        0  -1.0     0        3.0
12   2019-01-28        0  -1.0     0        4.0

In [ ]:
df_whole.head()

,pk_cid,entry_date,entry_channel,active_customer,segment,short_term_deposit,loans,mortgage,funds,securities,...,emc_account,debit_card,em_account_p,em_acount,country_id,region_code,gender,age,deceased,salary
pk_partition,,,,,,,,,,,,,,,,,,,,,
2018-01-28,1375586,2018-01-12,KHL,1.0,02 - PARTICULARES,False,False,False,False,False,...,False,False,False,True,True,False,H,35,0,87218.10
2018-01-28,1050611,2015-08-10,KHE,0.0,03 - UNIVERSITARIO,False,False,False,False,False,...,False,False,False,True,True,False,V,23,0,35548.74
2018-01-28,1050612,2015-08-10,KHE,0.0,03 - UNIVERSITARIO,False,False,False,False,False,...,False,False,False,True,True,False,V,23,0,122179.11
2018-01-28,1050613,2015-08-10,KHD,0.0,03 - UNIVERSITARIO,True,False,False,False,False,...,False,False,False,False,True,False,H,22,0,119775.54
2018-01-28,1050614,2015-08-10,KHE,1.0,03 - UNIVERSITARIO,False,False,False,False,False,...,False,False,False,True,True,False,V,23,0,NaN

In [ ]:
for prod in list_products:
    df[prod+'_altas'] = df_whole[['pk_cid',prod]].agg(determinar_altas_cobradas_all)

KeyError: 'pk_cid'

In [ ]:
for prod in list_products:
    df[prod+'_altas'] = df_whole.groupby('pk_cid')[prod].agg(determinar_altas)
    print(prod)

short_term_deposit

KeyboardInterrupt:

In [ ]:
for prod in list_products:
    df[prod+'_bajas'] = df_whole.groupby('pk_cid')[prod].agg(determinar_bajas)

In [ ]:
for prod in list_products:
    df[prod+'_cobros'] = df_whole.groupby('pk_cid')[prod].agg(determinar_altas_cobradas)

## Numero de productos contratados en su historia (1)

In [ ]:
df['total_products'] = df_whole.groupby('pk_cid')[list_products].max().sum(axis=1)

In [ ]:
df.head()

,salary,deceased,active_customer,age,region_code,country_id,payroll,total_products
pk_cid,,,,,,,,
15891,NaN,0,0.0,59,True,True,False,1
16063,NaN,0,0.0,62,True,True,False,0
16203,NaN,0,1.0,70,True,True,False,1
16502,NaN,0,1.0,58,True,True,False,2
17457,102405.75,0,1.0,54,True,True,False,3

In [ ]:
df_whole = df_whole.set_index('pk_partition')

In [ ]:
df.head()

,salary,deceased,active_customer,age,region_code,country_id,payroll
pk_cid,,,,,,,
15891,NaN,0,0.0,59,True,True,False
16063,NaN,0,0.0,62,True,True,False
16203,NaN,0,1.0,70,True,True,False
16502,NaN,0,1.0,58,True,True,False
17457,102405.75,0,1.0,54,True,True,False

In [ ]:
prod = list_products[0]

df[prod+'_altas'] = df_whole.groupby('pk_cid')[prod].agg(determinar_altas)
df[prod+'_bajas'] = df_whole.groupby('pk_cid')[prod].agg(determinar_bajas)

KeyboardInterrupt:

In [ ]:
df.head()

In [ ]:

for customer in customers:
    for prod in list_products:
        df_ = df_whole[['pk_cid',prod]]
        df_.loc[:,'prev'] = df_.loc[:,prod].shift(1)
        df_
        break


#df_whole['region_code'].value_counts()

/Users/carlosperezricardo/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/Users/carlosperezricardo/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

KeyboardInterrupt:

# Permanencia

Tenemos muchos productos. Como mido la permanencia sin tener 20 columnas. 

Permanencia = sí y solo sí en ese producto se ha comprado se tiene en cuenta

perm = sumatorio de num.meses / meses desde que lo contrato